@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Oswald:wght@200;300;600&display=swap');


body {
    text-align: center;
    font-family: 'Kumbh Sans';
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(185, 75%, 39%);
    min-height: 100vh;
}

.profile-card {
    border-radius: 15px;
    width: 350px;
    padding: 50px 0 30px;
    background: url(./images/bg-pattern-card.svg) center top no-repeat;
    background-color: white;
}

.profile-card .info img {
    border-radius: 50%;
    border: 5px solid white;
}

.profile-card .info .nome {
    font-size: 18px;
}

.profile-card .info .nome span {
    color: hsl(227, 10%, 46%);
    font-size: 16px;
}

.profile-card .info .regiao {
    font-size: 15px;
    color: hsl(227, 10%, 46%);
    border-bottom: 1px solid #ccc;
    padding-bottom: 27px;
}

.profile-card .status {
    display: flex;
    justify-content: space-evenly;
}

.profile-card .status .numeros {
    font-weight: 700;
    font-size: 19px;
    margin-bottom: 8px;
}

.profile-card .status .info {
    font-weight: 400;
    font-size: 13px;
    color: hsl(227, 10%, 46%);
}